<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.xiaomizha.mapper.BanquetTypesMapper">

    <resultMap id="BaseResultMap" type="ltd.xiaomizha.bean.BanquetTypes">
            <id property="tid" column="TID" jdbcType="INTEGER"/>
            <result property="typeName" column="TYPE_NAME" jdbcType="VARCHAR"/>
            <result property="typeDescription" column="TYPE_DESCRIPTION" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
            <result property="lastmodifytime" column="LASTMODIFYTIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        TID,TYPE_NAME,TYPE_DESCRIPTION,
        CREATETIME,LASTMODIFYTIME
    </sql>
</mapper>
