<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.xiaomizha.mapper.BanquetTypeOccasionsMapper">

    <resultMap id="BaseResultMap" type="ltd.xiaomizha.bean.BanquetTypeOccasions">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <id property="tid" column="TID" jdbcType="INTEGER"/>
            <id property="oid" column="OID" jdbcType="INTEGER"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
            <result property="lastmodifytime" column="LASTMODIFYTIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,TID,OID,
        CREATETIME,LASTMODIFYTIME
    </sql>
</mapper>
