<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.xiaomizha.mapper.BanquetSeatMapper">

    <resultMap id="BaseResultMap" type="ltd.xiaomizha.bean.BanquetSeat">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <id property="bid" column="BID" jdbcType="INTEGER"/>
            <id property="frid" column="FRID" jdbcType="INTEGER"/>
            <id property="uid" column="UID" jdbcType="INTEGER"/>
            <result property="tableNumber" column="TABLE_NUMBER" jdbcType="INTEGER"/>
            <result property="seatNumber" column="SEAT_NUMBER" jdbcType="INTEGER"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
            <result property="lastmodifytime" column="LASTMODIFYTIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,BID,FRID,
        UID,TABLE_NUMBER,SEAT_NUMBER,
        CREATETIME,LASTMODIFYTIME
    </sql>
</mapper>
